body {
    margin: 0;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.top-bar {
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    width: 500px;
    height: 50px;
    box-sizing: border-box;
    margin: 20px;
    padding-left: 20px;
}

button {
    width: 500px;
    height: 50px;
}

.footer {
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}